In [1]:
!pip install -r requirements.txt

Requirement already satisfied: requests in /Users/timgugel/opt/anaconda3/lib/python3.9/site-packages (from -r requirements.txt (line 1)) (2.28.0)
Requirement already satisfied: bs4 in /Users/timgugel/opt/anaconda3/lib/python3.9/site-packages (from -r requirements.txt (line 2)) (0.0.1)
Requirement already satisfied: pandas in /Users/timgugel/opt/anaconda3/lib/python3.9/site-packages (from -r requirements.txt (line 3)) (1.4.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/timgugel/opt/anaconda3/lib/python3.9/site-packages (from requests->-r requirements.txt (line 1)) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in /Users/timgugel/opt/anaconda3/lib/python3.9/site-packages (from requests->-r requirements.txt (line 1)) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/timgugel/opt/anaconda3/lib/python3.9/site-packages (from requests->-r requirements.txt (line 1)) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/timgugel/opt/anaconda3/lib/python3.9/site-packages (from requests->-r requirements.txt (line 1)) (3.3)
Requirement already satisfied: beautifulsoup4 in /Users/timgugel/opt/anaconda3/lib/python3.9/site-packages (from bs4->-r requirements.txt (line 2)) (4.11.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/timgugel/opt/anaconda3/lib/python3.9/site-packages (from pandas->-r requirements.txt (line 3)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/timgugel/opt/anaconda3/lib/python3.9/site-packages (from pandas->-r requirements.txt (line 3)) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /Users/timgugel/opt/anaconda3/lib/python3.9/site-packages (from pandas->-r requirements.txt (line 3)) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/timgugel/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas->-r requirements.txt (line 3)) (1.16.0)
Requirement already satisfied: soupsieve>1.2 in /Users/timgugel/opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4->bs4->-r requirements.txt (line 2)) (2.3.1)

# Search

### Living Area codes

In [ ]:
location_ids=473422

### Settings

In [ ]:
living_area_max=45
living_area_min=35
rooms_min=1.5

### Build URL

In [2]:
url = 'https://www.hemnet.se/salda/bostader?living_area_max=45&living_area_min=35&location_ids%5B%5D=473422&page=2&rooms_min=1.5'

# Request data from Hemnet

In [3]:
import requests

def load_html(url):
    headers = {
        'User-Agent': 'Your User Agent String'  # Replace with an appropriate User-Agent
    }

    try:
        response = requests.get(url, headers=headers)
        response.raise_for_status()
        return response.text
    except requests.exceptions.RequestException as e:
        print(f"An error occurred: {e}")
        return None

if __name__ == "__main__":
    url = input("Enter the URL: ")
    #https://www.hemnet.se/salda/bostader?living_area_max=45&living_area_min=35&location_ids%5B%5D=473422&page=2&rooms_min=1.5
    html_content = load_html(url)

    if html_content:
        print("Successfully lead data from %s" % url)
        # print(html_content)
    else:
        print("Failed to fetch HTML content.")

Successfully lead data from https://www.hemnet.se/salda/bostader?living_area_max=45&living_area_min=35&location_ids%5B%5D=473422&page=2&rooms_min=1.5

In [24]:
import pandas as pd
from bs4 import BeautifulSoup
import datetime 



month_conv = {
    'januari' : 1,
    'februari' : 2,
    'mars' : 3,
    'april' : 4,
    'maj' : 5,
    'juni' : 6,
    'juli' : 7,
    'augusti' : 8,
    'september' : 9,
    'oktober' : 10,
    'november' : 11,
    'december' : 12
}

def extract_rooms(room_text):
    if "rum" in room_text:
        room_parts = room_text.split(" ")
        for part in room_parts:
            if "rum" in part:
                rooms = part.replace(",", ".").replace("&nbsp;", "").replace("rum", "")
                try:
                    return float(rooms)
                except ValueError:
                    return 0.0
    return 0.0

def extract_date_format(date_str):
    try:
        date_arr = date_str.split(' ')

        day   = int(date_arr[1])
        month = month_conv[date_arr[2]]
        year  = int(date_arr[3])

        date = datetime.date(year, month, day)

    except:
        print('Error to extract date: %s' % date_str)
        date = None

    return date

def extract_values_from_html(html_content):
    soup = BeautifulSoup(html_content, 'html.parser')

    results = []

    listings = soup.find_all('li', class_='sold-results__normal-hit')
    for listing in listings:
        data_element = listing.find('span', class_='hcl-label--sold-at')
        data = data_element.text.strip() if data_element else ""
        date = extract_date_format(data)

        address_element = listing.find('h2', class_='sold-property-listing__heading')
        address = address_element.text.strip() if address_element else ""

        avgift_element = listing.find('div', class_='sold-property-listing__fee')
        avgift_text = avgift_element.text.strip() if avgift_element else ""
        try:
            avgift = int(avgift_text.replace(" ", "").replace("\xa0", "").replace("kr/mån", "")) if avgift_text else 0
        except ValueError as avgift_error:
            print(f"Error extracting avgift: {avgift_error}")
            avgift = avgift_text

        slutpris_element = listing.find('span', class_='hcl-text hcl-text--medium')
        slutpris_text = slutpris_element.text.strip() if slutpris_element else ""
        try:
            slutpris = int(slutpris_text.replace(" ", "").replace("\xa0", "").replace("kr", "").replace("Slutpris", "")) if slutpris_text else 0
        except ValueError as slutpris_error:
            print(f"Error extracting slutpris: {slutpris_error}")
            slutpris = slutpris_text

        sqm_pris_element = listing.find('div', class_='sold-property-listing__price-per-m2')
        sqm_pris_text = sqm_pris_element.text.strip() if sqm_pris_element else ""
        try:
            sqm_pris = int(sqm_pris_text.replace(" ", "").replace("\xa0", "").replace("kr/m²", "")) if sqm_pris_text else 0
        except ValueError as sqm_pris_error:
            print(f"Error extracting sqm_pris: {sqm_pris_error}")
            sqm_pris = sqm_pris_text

        name_element = listing.find('span', class_='sold-property-listing__first')
        name = name_element.text.strip() if name_element else ""

        size_element = listing.find('div', class_='sold-property-listing__area')
        size_text = size_element.text.split('\n')[1].strip()
        try:
            size_parts = size_text.split()
            size_numeric = float(size_parts[0].replace(",", ".")) if size_parts[0] else 0.0
        except ValueError as size_error:
            print(f"Error extracting size: {size_error}")
            size_numeric = size_text
        
        room_text = size_element.text.split('\n')[-2].strip()
        try:
            rooms = extract_rooms(room_text)
        except :
            print(f"Error extracting rooms: %s" % room_text)
            rooms = 0.0

        results.append({
            "data": data,
            "date": date,
            "address": address,
            "avgift": avgift,
            "slutpris": slutpris,
            "sqm_pris": sqm_pris,
            "name": name,
            "size": size_numeric,
            "size_plus" : 'NaN',
            "rooms": rooms
        })

    return results

# Replace this with your actual HTML response
html_response = html_content

# Call the function and create a pandas DataFrame
extracted_values = extract_values_from_html(html_response)
df = pd.DataFrame(extracted_values)

# Print the DataFrame
print(df)

                      data        date                               address  \
0     Såld 26 januari 2022  2022-01-26                     Essingestråket 29
1    Såld 28 december 2021  2021-12-28                      Flottbrovägen 27
2     Såld 3 december 2021  2021-12-03                 Essingeringen 15, 3tr
3    Såld 24 november 2021  2021-11-24                     Essingestråket 21
4    Såld 16 november 2021  2021-11-16           Badstrandsvägen 22, 3 / 3tr
5    Såld 16 november 2021  2021-11-16               Essingestråket 11, 2 tr
6    Såld 16 november 2021  2021-11-16                      Essingetorget 40
7    Såld 11 november 2021  2021-11-11                    Badstrandsvägen 31
8     Såld 30 oktober 2021  2021-10-30              Badstrandsvägen 20, 2 tr
9     Såld 28 oktober 2021  2021-10-28                        Eknäsvägen 6 C
10    Såld 23 oktober 2021  2021-10-23                        Eknäsvägen 6 B
11    Såld 22 oktober 2021  2021-10-22                Essingestråket 11, 3tr
12    Såld 11 oktober 2021  2021-10-11                      Essingetorget 46
13     Såld 5 oktober 2021  2021-10-05               Essingestråket 23, 2 tr
14  Såld 24 september 2021  2021-09-24                Essingetorget 40, 1 tr
15  Såld 22 september 2021  2021-09-22  Badstrandsvägen 27, Accepterat pris!
16  Såld 17 september 2021  2021-09-17                      Essingetorget 44
17  Såld 14 september 2021  2021-09-14                Essingetorget 40, 3 tr
18  Såld 13 september 2021  2021-09-13        Badstrandsvägen 24, Högst upp!
19   Såld 6 september 2021  2021-09-06         Essingestråket 29, Högst upp!
20   Såld 3 september 2021  2021-09-03                    Badstrandsvägen 19
21    Såld 18 augusti 2021  2021-08-18                    Badstrandsvägen 19
22    Såld 17 augusti 2021  2021-08-17                Essingetorget 40, 1 tr
23    Såld 13 augusti 2021  2021-08-13                  Eknäsvägen 6 A vån 2
24       Såld 29 juli 2021  2021-07-29        Bergsmarksvägen 12, högst upp!
25       Såld 15 juli 2021  2021-07-15            Badstrandsvägen 19, 1,5 tr
26        Såld 8 juli 2021  2021-07-08                     Essingestråket 21
27        Såld 6 juli 2021  2021-07-06    Stenkullavägen 48, Accepterat pris
28        Såld 6 juli 2021  2021-07-06                     Essingestråket 37
29       Såld 17 juni 2021  2021-06-17                     Essingestråket 11
30        Såld 27 maj 2021  2021-05-27                      Vänskapsvägen 42
31        Såld 27 maj 2021  2021-05-27            Badstrandsvägen 19, 2,5 tr
32        Såld 26 maj 2021  2021-05-26                    Eknäsvägen 1, 3 tr
33        Såld 24 maj 2021  2021-05-24                    Badstrandsvägen 27
34        Såld 18 maj 2021  2021-05-18                     Essingestråket 23
35      Såld 29 april 2021  2021-04-29              Badstrandsvägen 27, 2 tr
36      Såld 27 april 2021  2021-04-27                      Vänskapsvägen 36
37      Såld 14 april 2021  2021-04-14                      Essingetorget 46
38       Såld 8 april 2021  2021-04-08                      Flottbrovägen 23
39       Såld 6 april 2021  2021-04-06                   Gammelgårdsvägen 28
40       Såld 23 mars 2021  2021-03-23                      Vänskapsvägen 40
41       Såld 23 mars 2021  2021-03-23                     Essingestråket 23
42       Såld 23 mars 2021  2021-03-23                      Flottbrovägen 15
43       Såld 11 mars 2021  2021-03-11                Stenkullavägen 54, 2tr
44   Såld 18 februari 2021  2021-02-18               Tvätterskevägen 4, 3 tr
45   Såld 18 februari 2021  2021-02-18                    Badstrandsvägen 21
46    Såld 31 januari 2021  2021-01-31             Essingestråket 19, 1,5 tr
47    Såld 20 januari 2021  2021-01-20                   Gammelgårdsvägen 19
48    Såld 19 januari 2021  2021-01-19                      Essingetorget 42
49    Såld 14 januari 2021  2021-01-14             Badstrandsvägen 27, vån 2

    avgift  slutpris  sqm_pris         name  size size_plus  rooms
0     2826   3400000     75556       Martin  45.0       NaN    2.0
1     2913   5600000    139651  Christopher  40.1       NaN    2.0
2     2132   4300000     95556               45.0       NaN    2.0
3     1596   3250000     85526         Emma  38.0       NaN    2.0
4     1829   3125000     86806               36.0       NaN    1.5
5     3570   2650000     63095       Martin  42.0       NaN    2.0
6     2946   3350000     79762         Emma  42.0       NaN    2.0
7     1725   2750000     76389               36.0       NaN    2.0
8     2189   4230000     94000         Emma  45.0       NaN    2.0
9     2295   2910000     80833       Martin  36.0       NaN    2.0
10    2544   3400000     82927         Emma  41.0       NaN    2.0
11    3230   2550000     67105               38.0       NaN    2.0
12    2053   3000000     81081               37.0       NaN    2.0
13    1470   3110000     88857         Emma  35.0       NaN    2.0
14    2556   2675000     72297        Robin  37.0       NaN    2.0
15    2206   2500000     62500               40.0       NaN    1.5
16    2324   3000000     71429               42.0       NaN    2.0
17    3155   2750000     61111        Josef  45.0       NaN    2.0
18    1865   3100000     83784               37.0       NaN    2.0
19    2360   3100000     75610       Martin  41.0       NaN    2.0
20    2630   2850000     75000               38.0       NaN    2.0
21    2480   3100000     81579               38.0       NaN    2.0
22    2556   2600000     70270        Robin  37.0       NaN    2.0
23    2495   3200000     78049      Kerstin  41.0       NaN    2.0
24    2325   3250000     85526               38.0       NaN    2.0
25    2480   2960000     75897               39.0       NaN    1.5
26    1596   2750000     72368               38.0       NaN    2.0
27    2042   3100000     88571       Pontus  35.0       NaN    2.0
28    1931   3375000     96429     Caroline  35.0       NaN    2.0
29    3570   2650000     63095               42.0       NaN    2.0
30    2499   3000000     71429               42.0       NaN    2.0
31    2480   2830000     70750               40.0       NaN    2.0
32    2000   3000000     73171  Christopher  41.0       NaN    2.0
33    2468   2800000     70000       Martin  40.0       NaN    2.0
34    1470   3000000     85714         Emma  35.0       NaN    2.0
35    2468   3300000     82500      Kerstin  40.0       NaN    2.0
36    2280   3190000     83947       Marcus  38.0       NaN    2.0
37    2396   2985000     67841               44.0       NaN    1.5
38    2005   3225000     78659       Martin  41.0       NaN    2.0
39    1773   2800000     75676       Linnea  37.0       NaN    2.0
40    2647   3270000     77857      Kerstin  42.0       NaN    2.0
41    1453   2950000     84286      Kerstin  35.0       NaN    2.0
42    2198   3050000     80263               38.0       NaN    2.0
43    1610   2950000     84286               35.0       NaN    2.0
44    1918   3300000     94286      Kerstin  35.0       NaN    2.0
45    2630   2965000     78026               38.0       NaN    2.0
46    1192   2720000     77714               35.0       NaN    2.0
47    2311   2695000     69103         Emma  39.0       NaN    1.5
48    1815   2950000     75641         Emma  39.0       NaN    2.0
49    2468   3150000     75000      Kerstin  42.0       NaN    2.0

In [26]:
df = pd.DataFrame()

# First call outside the loop to initialize the DataFrame structure
extracted_values = extract_values_from_html(load_html('https://www.hemnet.se/salda/bostader?living_area_max=45&living_area_min=35&location_ids%5B%5D=473422&rooms_min=1.5'))
df = df.append(extracted_values, ignore_index=True)

# Loop to call the function and add values
for i in range(6):  # Replace 10 with the desired number of iterations
    extracted_values = extract_values_from_html(load_html(urls[i]))
    df = df.append(extracted_values, ignore_index=True)

# Print the final DataFrame
print(df)

/var/folders/n4/37zl64v150z2lq9vhml1q6lh0000gn/T/ipykernel_39660/1349945559.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(extracted_values, ignore_index=True)
/var/folders/n4/37zl64v150z2lq9vhml1q6lh0000gn/T/ipykernel_39660/1349945559.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(extracted_values, ignore_index=True)
/var/folders/n4/37zl64v150z2lq9vhml1q6lh0000gn/T/ipykernel_39660/1349945559.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(extracted_values, ignore_index=True)
/var/folders/n4/37zl64v150z2lq9vhml1q6lh0000gn/T/ipykernel_39660/1349945559.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(extracted_values, ignore_index=True)
/var/folders/n4/37zl64v150z2lq9vhml1q6lh0000gn/T/ipykernel_39660/1349945559.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(extracted_values, ignore_index=True)
/var/folders/n4/37zl64v150z2lq9vhml1q6lh0000gn/T/ipykernel_39660/1349945559.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(extracted_values, ignore_index=True)

                      data        date                 address  avgift  \
0     Såld 18 augusti 2023  2023-08-18      Badstrandsvägen 19    2480
1     Såld 13 augusti 2023  2023-08-13      Badstrandsvägen 27    2760
2        Såld 21 juli 2023  2023-07-21       Essingestråket 23    1470
3         Såld 7 juli 2023  2023-07-07       Stenkullavägen 54    2006
4         Såld 7 juli 2023  2023-07-07       Essingestråket 37    1641
..                     ...         ...                     ...     ...
338     Såld 15 april 2013  2013-04-15   Stenkullavägen 48 1tr    2060
339      Såld 28 mars 2013  2013-03-28        Essingetorget 44    2164
340      Såld 15 mars 2013  2013-03-15   Essingestråket 32 2tr    3368
341      Såld 15 mars 2013  2013-03-15  Essingestråket 11, 2tr    2856
342  Såld 28 februari 2013  2013-02-28   Essingestråket 44 6tr    1552

     slutpris  sqm_pris     name  size size_plus  rooms
0     2820000     70500   Martin  40.0       NaN    2.0
1     3300000     76744  Kerstin  43.0       NaN    2.0
2     3200000     91429   Martin  35.0       NaN    2.0
3     3050000     80263           38.0       NaN    2.0
4     3300000     94286           35.0       NaN    2.0
..        ...       ...      ...   ...       ...    ...
338   1950000     51316           38.0       NaN    2.0
339   2030000     47209           43.0       NaN    2.0
340   2300000     51225           44.9       NaN    2.0
341   2000000     47619           42.0       NaN    2.0
342   2305000     58354           39.5       NaN    2.0

[343 rows x 10 columns]

/var/folders/n4/37zl64v150z2lq9vhml1q6lh0000gn/T/ipykernel_39660/1349945559.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(extracted_values, ignore_index=True)

In [25]:
urls = [
    'https://www.hemnet.se/salda/bostader?living_area_max=45&living_area_min=35&location_ids%5B%5D=473422&page=2&rooms_min=1.5',
    'https://www.hemnet.se/salda/bostader?living_area_max=45&living_area_min=35&location_ids%5B%5D=473422&page=3&rooms_min=1.5',
    'https://www.hemnet.se/salda/bostader?living_area_max=45&living_area_min=35&location_ids%5B%5D=473422&page=4&rooms_min=1.5',
    'https://www.hemnet.se/salda/bostader?living_area_max=45&living_area_min=35&location_ids%5B%5D=473422&page=5&rooms_min=1.5',
    'https://www.hemnet.se/salda/bostader?living_area_max=45&living_area_min=35&location_ids%5B%5D=473422&page=6&rooms_min=1.5',
    'https://www.hemnet.se/salda/bostader?living_area_max=45&living_area_min=35&location_ids%5B%5D=473422&page=7&rooms_min=1.5',
    'https://www.hemnet.se/salda/bostader?living_area_max=45&living_area_min=35&location_ids%5B%5D=473422&page=8&rooms_min=1.5',
    'https://www.hemnet.se/salda/bostader?living_area_max=45&living_area_min=35&location_ids%5B%5D=473422&page=9&rooms_min=1.5',
    'https://www.hemnet.se/salda/bostader?living_area_max=45&living_area_min=35&location_ids%5B%5D=473422&page=10&rooms_min=1.5',
    'https://www.hemnet.se/salda/bostader?living_area_max=45&living_area_min=35&location_ids%5B%5D=473422&page=11&rooms_min=1.5',
]

In [27]:
df

,data,date,address,avgift,slutpris,sqm_pris,name,size,size_plus,rooms
0,Såld 18 augusti 2023,2023-08-18,Badstrandsvägen 19,2480,2820000,70500,Martin,40.0,NaN,2.0
1,Såld 13 augusti 2023,2023-08-13,Badstrandsvägen 27,2760,3300000,76744,Kerstin,43.0,NaN,2.0
2,Såld 21 juli 2023,2023-07-21,Essingestråket 23,1470,3200000,91429,Martin,35.0,NaN,2.0
3,Såld 7 juli 2023,2023-07-07,Stenkullavägen 54,2006,3050000,80263,,38.0,NaN,2.0
4,Såld 7 juli 2023,2023-07-07,Essingestråket 37,1641,3300000,94286,,35.0,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...
338,Såld 15 april 2013,2013-04-15,Stenkullavägen 48 1tr,2060,1950000,51316,,38.0,NaN,2.0
339,Såld 28 mars 2013,2013-03-28,Essingetorget 44,2164,2030000,47209,,43.0,NaN,2.0
340,Såld 15 mars 2013,2013-03-15,Essingestråket 32 2tr,3368,2300000,51225,,44.9,NaN,2.0
341,Såld 15 mars 2013,2013-03-15,"Essingestråket 11, 2tr",2856,2000000,47619,,42.0,NaN,2.0
342,Såld 28 februari 2013,2013-02-28,Essingestråket 44 6tr,1552,2305000,58354,,39.5,NaN,2.0

In [28]:
df.to_excel('stora_essingen_40.xlsx')